doctype html
html(lang='en')
  include partials/head.pug
  body#page-top
    block header
    #vue
      block content
    include partials/scripts.pug
    script(type="text/javascript").
      new Vue({
        el: '#vue',
        data: function data() { return {
            teams: this.parseArr(!{JSON.stringify(teams)}),
            team: this.parseObj(!{JSON.stringify(team)}),
            webhooks: this.parseObj(!{JSON.stringify(webhooks)}),
            checked: false,
            picked:
            (this.parseObj(!{JSON.stringify(team)}) !== '' ?
              (
                this.parseObj(!{JSON.stringify(team)}).isOnlineHackathon ?
                'Online Only' :
                'In-person'
              ) : 'In-person'),
            ascending: true,
            buildStatuses: ['initial', 'pending', 'complete', 'failed'],
            columns: {
              buildStatus: 'Build Status',
              name: 'Team Name',
              githubRepository: 'Repo',
              siteUrl: 'Site',
              isOnlineHackathon: 'Hackathon',
              lighthouse: 'Lighthouse',
              collaborators: 'Collaborators',
              screenshot: 'Screenshot'
            },
            lighthousekeys: [ 'seo', 'best-practices', 'accessibility', 'pwa', 'performance'],
            teamsInterval: ''
          }
        },
        mounted: function() {
          var self = this;
          self.log();
          if (self.teams && self.teams !== '' && self.teams !== []) {
            self.getTeams();
            self.startTeamsPolling();
            self.sortBy('lighthouse', true);
          }
        },
        beforeDestroy() {
          var self = this;
          clearInterval(self.teamsInterval);
        },
        methods: {
          parseObj: function(obj){
            if (!obj) return ''
            return obj
          },
          parseArr: function(arr){
            if (!arr) return []
            return arr;
          },
          startTeamsPolling() {
            var self = this;
            self.interval = setInterval(function(){
              self.getTeams();
            }, 30000);
          },
          getTeam() {
            var self = this;
            if (self.team && self.team !== '') {
              axios.get(`/api/teams/${self.team._id}`)
              .then((res) => {
                self.team = res.data;
              })
            }
          },
          getTeams() {
            var self = this;
            axios.get('/api/teams')
            .then((res) => {
              self.teams = res.data;
            })
          },
          sortBy(key, ascending) {
            console.log(key, ascending)
            var self = this;
            self.ascending = !ascending;
            self.teams.sort(function(a, b){
              // a is team

              var itemA, itemB;
              switch(key) {
                case 'buildStatus':
                  itemA = self.buildStatuses.indexOf(a.buildStatus);
                  itemB = self.buildStatuses.indexOf(b.buildStatus);
                case 'name':
                  itemA = a.name;
                  itemB = b.name;
                  break;
                case 'isOnlineHackathon':
                  itemA = a.isOnlineHackathon;
                  itemB = b.isOnlineHackathon;
                  break;
                case 'lighthouse':
                  itemA = self.lighthousekeys.map(function(k){
                    if (a.lighthouse.length === 0) return 0;
                    return a.lighthouse[a.lighthouse.length - 1][k];
                  }).reduce(function(acc, curr){
                    return acc + curr;
                  }) / 5;
                  itemB = self.lighthousekeys.map(function(k){
                    if (b.lighthouse.length === 0) return 1;
                    return b.lighthouse[b.lighthouse.length - 1][k];
                  }).reduce(function(acc, curr){
                    return acc + curr;
                  }) / 5;
                  break;
                default:

              }
              switch(ascending) {
                case true:
                  if (itemA < itemB) {
                    return -1;
                  }
                  if (itemA > itemB) {
                    return 1;
                  }
                  break;
                case false:
                  if (itemA < itemB) {
                    return 1;
                  }
                  if (itemA > itemB) {
                    return -1;
                  }
                  break;
                default:
                  return 0;
              }
              return 0;
            })
          },
          createFlash(type, message) {
            var flashContainer = document.getElementById('flash-container');

            var alert = document.createElement("DIV");
            alert.classList.add('alert', 'alert-' + type);
            alert.role = 'alert';
            alert.innerHTML = message;
            flashContainer.appendChild(alert);
            return null;
          },
          handleFormSubmit(e) {
            var self = this;
            e.preventDefault();
            var axiosurl, msg;
            if (e.target.getAttribute('id') === 'create-team-form') {
              axiosurl = '/api/teams';
              msg = 'creat'
            } else {
              axiosurl = `/api/teams/${self.team._id}`
              msg = 'updat'
            }
            var createTeamForm = document.getElementById('create-team-form') || document.getElementById('update-team-form');
            var flashContainer = document.getElementById('flash-container');
            var actionContainer = document.getElementById('team-form-or-webhook');
            var teamName = createTeamForm.querySelector('#team-name').value;
            var teamRepo = createTeamForm.querySelector('#team-repo').value;
            var teamSite = createTeamForm.querySelector('#team-site').value;
            var teamCollaborators = createTeamForm.querySelector('#team-collab').value;
            var teamIsOnline = createTeamForm.querySelector('#isOnLine').checked;
            var team = {
              name: teamName,
              collaborators: teamCollaborators.split(',').map(function(str) { return str.trim(); }).filter(function(item, pos,self) { return self.indexOf(item) == pos; }),
              githubRepository: teamRepo,
              siteUrl: teamSite,
              isOnlineHackathon: teamIsOnline
            }
            return axios.post(axiosurl, team).then(function(response) {
              var status = response.status;
              if (parseInt(status, 10) === 200) {
                self.createFlash('success', 'Your team has been '+msg+'ed!<br><br>');
                if (msg === 'creat') {
                  setTimeout(function() {window.location.href = '/team';}, 1000 * 60 * 3) // three seconds
                }

              } else {
                return self.createFlash('warning', 'Something went wrong '+msg+'ing your team')
              }
            })
          },
          removeTeam() {
            var self = this;
            if (self.team && self.team !== '') {
              axios.post(`/api/teams/delete/${self.team._id}`)
              .then((res) => {
                return window.location.href = '/';
              })
              .catch((err) => {
                console.log(err)
              })
            }
          },
          log: function() {
            console.log(Object.keys(this.teams[0] || {}))
          }
        }
      })
